<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Nueva Alerta </h3>
  </div>
  <form name="form" ng-submit="submitForm(form.$valid)" novalidate>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-3" ng-class="{ 'has-error' : form.idEntidad.$invalid && form.$submitted }"
          <label class="control-label" for="idEntidad">Entidad</label>
          <div class="fg-line form-group">
            <ui-select class="form-control input-sm" name="idEntidad" ng-model="alerta.frEntidad.idEntidad"
            theme="bootstrap" sortable="true" required>
              <ui-select-match class="ui-select-match" placeholder="Seleccione">{{$select.selected.nombre}}</ui-select-match>
              <ui-select-choices class="ui-select-choices" repeat="item.idEntidad as item in dataEntidad | filter: {nombre: $select.search}">
                <div ng-bind-html="item.nombre | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="col-sm-3" ng-class="{ 'has-error' : form.valor.$invalid && form.$submitted }">
          <label class="control-label "  for="valor">Valor</label>
          <input  class="form-control" name="valor" ng-model="alerta.valor" capitalize required>
        </div>
        <div class="col-sm-3" ng-class="{ 'has-error' : form.descripcion.$invalid && form.$submitted }">
          <label class="control-label "  for="descripcion">Descripción</label>
          <input  class="form-control" name="descripcion" ng-model="alerta.descripcion" capitalize required>
        </div>
        <div class="col-sm-3" ng-class="{ 'has-error' : form.estado.$invalid && form.$submitted }"
          <label class="control-label" for="estado">Estado</label>
          <div class="fg-line form-group">
            <ui-select class="form-control input-sm" name="estado" ng-model="alerta.estado"
            theme="bootstrap" sortable="true" required>
              <ui-select-match class="ui-select-match" placeholder="Seleccione">{{$select.selected.estadoDesc}}</ui-select-match>
              <ui-select-choices class="ui-select-choices" repeat="item.estado as item in dataEstado | filter: {estadoDesc: $select.search}">
                <div ng-bind-html="item.estadoDesc | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer text-right">
       <button type="submit" class="btn btn-success btn-sm"></span>Guardar</button>
       <button type="button" class="btn btn-danger btn-sm" ui-sref="^.list">Cancelar</button>
    </div>
  </form>
</div>
        <!--div class="dropdown col-sm-3" ng-class="{ 'has-error' : form.usuarioId.$invalid && form.$submitted }">
          <label class="control-label" for="fechaRegistro">Fecha y hora:</label>
            <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                <div class="input-append">
                  <p class="input-group">
                    <input date-format="dd-MMM-yyyy" type="datetime" class="form-control ng-pristine ng-isolate-scope ng-valid-date ng-invalid ng-invalid-required ng-touched" uib-datepicker-popup="dd/MM/yyyy HH:mm" data-ng-model="data.fechaRegistro"></input>
                    <span class="input-group-btn add-onn">
                       <button type="button" class="btn btn-default">
                         <i class="glyphicon glyphicon-calendar"></i></button>
                     </span>
                   </p>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="data.fecha" current-text="Hoy" date-format="dd-MMM-yyyy" modelType="Date" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }">
                </datetimepicker>
            </ul>
        </div-->
